extends layout

block content
  h1= title
  p Welcome to #{title}

  //Wrapper
  #wrapper

    //User info
    #userInfo
     h2 User information
     p
      strong Name: 
      | <span id='userInfoName'></span>
      br
      strong Last name: 
      | <span id='userInfoLastName'></span>
      br
      strong Email: 
      | <span id='userInfoEmail'></span>
      br
      strong Country:
      | <span id='userInfoCountry'></span>
    //EO: userinfo

    //User list
    #userList
     h2 User list
     table
      thead
        th Name <i class="fa fa-user" aria-hidden="true"></i>
        th Email <i class="fa fa-envelope" aria-hidden="true"></i>
        th Delete <i class="fa fa-trash" aria-hidden="true"></i>
      tbody
    //EO: User list

    //Add user
    #addUser
     h2 Add a user
      fieldset
        input#inputFirstName(type='text', placeholder='Firstname')
        br
        input#inputLastName(type='text', placeholder='Lastname')
        br
        input#inputEmail(type='text', placeholder='Email')
        br
        input#inputCountry(type='text', placeholder='Country')
        br
        br
        button#btnAddUser Add User
    //EO: add user


  //EO: Wrapper