extends layout

block content
  h1= title
  p Welcome to #{title}

  //Wrapper
  #wrapper
  //User list
  h2 User list
  #userList
    table
      thead
        th First name
        th Last name
        th Email <i class='fa fa-user'></i>
      tbody
  //EO: User list
  //EO: Wrapper