body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table tr td{
	padding: 10px;
	background-color: #efefef;
}
table tr th{
	background-color: #ccc;
	padding: 10px;
}

#userInfo, #addUser{
	width: 20%;
	float: left;
	background-color: aliceblue;
	padding: 20px;
	margin-right: 10px;
}

#userInfo strong{
	margin-bottom: 5px;
}

#userList{
	background-color: aliceblue;
	padding: 20px;
	float: right;
	width: 70%;
}

#addUser input{
	width: 97%;
	margin: 5px 0;
}